name: WaterStrip # You can also change this to another name to avoid warning with existing group. 
services:
  frontend:
    container_name: ws-frontend
    build: .
    ports:
      - ${NGINX_PORT}:5173
    networks:
      - preflight_pf-net
    environment:
      - NGINX_PROXY=${NGINX_PROXY}
      - NGINX_PORT=${NGINX_PORT}
networks:
  preflight_pf-net: # Check by using `docker network ls` command
    external: true