/* Rectangle 1 */
.Header {
  position: absolute;
  width: 1440px;
  height: 132px;
  background: #ffffff;
}
@font-face {
  font-family: "league";
  src: url("../font/league.ttf");
}
.fontLeague {
  font-family: league;
}

.transition-underline {
  position: relative;
}

.transition-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.transition-underline:hover::before {
  width: 100%;
}
.boxShadow {
  box-shadow: inset 4px 4px 4px rgba(167, 167, 167, 0.25);
}
