.RectangleforNew {
  /* position: absolute; */
  position: relative;
  width: 282px;
  height: 320px;
  border-radius: 20px;
}

.EllipseforNew {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #ccc; /* Default background color */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
  cursor: pointer; /* Change cursor to pointer to indicate clickability */
}

/* Hover effect */
.EllipseforNew:hover {
  background-color: #aaa; /* Change background color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}


.plus-shape {
  width: 30%;
  height: 30%;
  position: relative;
}

.plus-shape::before,
.plus-shape::after {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
}

.plus-shape::before {
  width: 100%;
  height: 10px; /* Increased thickness */
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.plus-shape::after {
  width: 10px; /* Increased thickness */
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Adjusted to center horizontally and vertically */
}
